<<<<<<< HEAD
body {
  background: linear-gradient(#1d1d1d , #101010 );
=======
header {
  height: 100px;
  width: 960px;
  margin-left: 80px;
}

nav {
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
}

header nav ul li {
  float: right;
  margin-right: 0px;
}

main {
  width: 960px;
  margin: 30px auto;
}

main ul li {
  float: left;
  margin: 30px 30px 30px 0px;
}

header nav h1 {
  font-family: yellowtail;
  font-size: 20px;
}

#recipe1 {
  width: 330px;
  margin-left: 200px;
}

#recipe2 {
  width: 330px;
  margin-left: 300px;
  margin-right: 200px;
  float: right;
}

#vanessa {
  clear: both;
>>>>>>> 306e43ca8192a09506d975e5c272c62f6e267689
}
