body {
  width: 960px;
  margin: 0 auto;
}

header {
  margin-bottom: 15px;
}

header>img {
  float: left;
  margin-right: 5px;
}

header>h1 {
  font-family: Yellowtail;
  font-size: 20px;
  margin: 0;
}
header>p {
  font-family: Arial;
  font-size: 10px;
  margin: 0;
}

header>ul {
  float: right;
  margin: 0px;
  padding-left: 10px;
}

header li {
  display: inline-block;
  margin: 0px;
}



/*
main {
  width: 960px;
  margin: 30px auto;
}

main ul li {
  float: left;
  margin: 30px 30px 30px 0px;
}

header nav h1 {
  font-family: Yellowtail;
  font-size: 20px;
}

#recipe1 {
  width: 330px;
  margin-left: 200px;
}

#recipe2 {
  width: 330px;
  margin-left: 300px;
  margin-right: 200px;
  float: right;
}

#vanessa {
  clear: both;
}*/
